/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 125px;
}

.fa {
  color: $secondary;
  background-color: #fff;
  width: 50px;
  height: 50px;
  padding-top: 16px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.50;
  transition: 0.3s ease all;

  &:hover{
    opacity: 1;
  }
}

.btn {
  background-color: $primary;
  color: white;
  font-weight: 700;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 2rem;
  transition: 0.6s ease all;

  &:hover {
    background-color: $secondary;

    i {
      margin-left: 20px;
    }
  }

  div {
    @include flex;
    padding: 5px 15px;

    i {
      margin-left: 10px;
      transition: 0.6s ease all;
    }
  }
}

.title__block {

  width: 540px;
  position: relative;

  span{
    color: $primary;
  }

  &::before {
    content: "";
    position: absolute;
    font-size: 16px;
    color: $primary;
    padding: 5px 10px;
    border: 1px solid #F2FAF9;
    border-radius: 5px;
    top: -35px;
    font-weight: 500;
  }
}