/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 125px;
}

.fa {
  color: #124F48;
  background-color: #fff;
  width: 50px;
  height: 50px;
  padding-top: 16px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.5;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.fa:hover {
  opacity: 1;
}

.btn {
  background-color: #FF823B;
  color: white;
  font-weight: 700;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 2rem;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}
.btn:hover {
  background-color: #124F48;
}
.btn:hover i {
  margin-left: 20px;
}
.btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 15px;
}
.btn div i {
  margin-left: 10px;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.title__block {
  width: 540px;
  position: relative;
}
.title__block span {
  color: #FF823B;
}
.title__block::before {
  content: "";
  position: absolute;
  font-size: 16px;
  color: #FF823B;
  padding: 5px 10px;
  border: 1px solid #F2FAF9;
  border-radius: 5px;
  top: -35px;
  font-weight: 500;
}

h1 {
  font-size: 64px;
  font-weight: 900;
}

h2 {
  font-size: 44px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

p, a, div {
  font-size: 18px;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
}

h3, p, a, div {
  font-family: "Roboto", sans-serif;
}

header {
  margin-top: 50px;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
header .container .header__links a {
  margin-right: 25px;
  font-size: 16px;
  border-bottom: 5px solid rgba(255, 130, 59, 0);
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
  padding-bottom: 10px;
}
header .container .header__links a:hover {
  padding-bottom: 0;
  border-bottom: 5px solid rgb(255, 130, 59);
}
header .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container div .btn {
  padding: 5px 25px;
  background-color: #124F48;
}
header .container div .btn:hover {
  background-color: #FF823B;
}
header .container div .burger {
  width: 28px;
  display: none;
  margin-left: 25px;
}

.first__screen {
  background-color: #E9FBF9;
  width: 1400px;
  margin: 0 auto;
  border-radius: 30px;
}
.first__screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
  position: relative;
  margin-bottom: 200px;
}
.first__screen .container .first__screen__left {
  width: 570px;
}
.first__screen .container .first__screen__left .title_top {
  color: #FF823B;
  background-color: #fff;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 5px;
}
.first__screen .container .first__screen__left h1 {
  margin-bottom: 15px;
}
.first__screen .container .first__screen__left p {
  width: 430px;
}
.first__screen .container .first__screen__left .first__screen__btns {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.first__screen .container .first__screen__left .first__screen__btns .btn {
  padding: 15px 50px;
  margin-right: 15px;
}
.first__screen .container .first__screen__left .first__screen__btns .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first__screen .container .first__screen__left .first__screen__btns .video a img {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.first__screen .container .first__screen__left .first__screen__btns .video a:hover img {
  -webkit-transform: scale(125%);
          transform: scale(125%);
}
.first__screen .container .first__screen__left .first__screen__btns .video p {
  width: auto;
  color: #FF823B;
}
.first__screen .container .first__screen__right {
  position: absolute;
  left: 40%;
  top: 30px;
}
.first__screen .container .first__screen__right .first__screen__icons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: -100px;
  left: 140px;
  padding: 45px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.first__screen .container .first__screen__right .first__screen__icons div img:first-child {
  margin-right: 25px;
}
.first__screen .container .first__screen__right .first__screen__icons div:first-child {
  margin-bottom: 25px;
}

.companies .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.companies .container .companies__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.companies .container .companies__row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.companies .container .companies__row div:first-child {
  margin-right: 25px;
}
.companies .container .companies__row:first-child {
  margin-bottom: 25px;
}
.companies .container .companies__row img {
  margin-right: 25px;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.companies .container .companies__row img:last-child {
  margin-right: 0;
}
.companies .container .companies__row img:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.services .container .services__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.services .container .services__top .title__block:before {
  content: "services";
}
.services .container .services__top p {
  width: 430px;
}
.services .container .services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services .container .services__content .service {
  width: 320px;
  margin: 0 25px;
}
.services .container .services__content .service img {
  margin-bottom: 25px;
}
.services .container .services__content .service h3 {
  margin-bottom: 25px;
}
.services .container .services__content .service p {
  margin-bottom: 25px;
}

.achievements .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.achievements .container h2 {
  margin-bottom: 100px;
}
.achievements .container .title__block:before {
  content: "achievements";
}
.achievements .container .achievements__right__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.achievements .container .achievements__right__numbers .achievements__column {
  height: 336px;
}
.achievements .container .achievements__right__numbers .achievements__column p {
  margin-bottom: 30px;
}
.achievements .container .achievements__right__numbers .achievements__column:first-child p {
  font-size: 36px;
  color: rgba(18, 79, 72, 0.37);
  font-weight: 700;
}
.achievements .container .achievements__right__numbers .achievements__column:nth-child(2) p {
  font-size: 18px;
  font-weight: 700;
  width: 150px;
}
.achievements .container .achievements__right__numbers .achievements__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 315px;
}
.achievements .container .achievements__right__numbers .achievements__column:last-child p {
  font-size: 16px;
  color: #FF823B;
}
.achievements .container .achievements__right__numbers__mobile {
  display: none;
}
.achievements .container .achievement {
  width: 510px;
}
.achievements .container .achievement h3 {
  margin: 35px 0;
}
.achievements .container .achievement p {
  color: #464646;
  margin-bottom: 35px;
}

.blog .container {
  position: relative;
}
.blog .container .title__block {
  margin-bottom: 25px;
  width: auto;
  text-align: center;
}
.blog .container .title__block::before {
  content: "blog";
  top: -55px;
  left: 50%;
}
.blog .container span {
  display: block;
  width: 665px;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}
.blog .container .blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .container .blog__content .letter {
  width: 520px;
  position: relative;
}
.blog .container .blog__content .letter h3 {
  margin: 35px 0;
}
.blog .container .blog__content .letter p {
  margin-bottom: 35px;
  color: #464646;
}
.blog .container .blog__content .letter:before {
  content: "22 Dec";
  position: absolute;
  background-color: #124F48;
  width: 42px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-right: 70px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 15px;
  left: 80%;
  top: -20px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.blog .container .blog__content .letter:last-child:before {
  content: "23 Dec";
}
.blog .container .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65px;
  left: 90%;
  top: 145px;
  position: absolute;
}
.blog .container .arrows i {
  color: #124F48;
}
.blog .container .arrows i:first-child {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  opacity: 0.5;
}
.blog .container .arrows i:last-child {
  cursor: pointer;
}

.subscribe {
  background-color: #E9FBF9;
}
.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 70px;
  padding-bottom: 50px;
  margin-bottom: 0;
}
.subscribe .container h1 {
  text-align: center;
  width: 950px;
}
.subscribe .container .subscribe__describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.subscribe .container .subscribe__describe p {
  margin-right: 25px;
  color: #FF823B;
}

footer {
  background-color: #E9FBF9;
}
footer .container {
  margin-bottom: 0;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container .links a {
  margin-right: 25px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
footer .container .links a:hover {
  color: #FF823B;
}
footer .container .footer__contacts {
  color: #124F48;
}
footer .container .footer__contacts a {
  color: #124F48;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
footer .container .footer__contacts a:hover {
  color: #FF823B;
}
footer .container .footer__contacts a:first-child {
  display: block;
  margin-bottom: 15px;
}
footer .container .footer__contacts a:last-child {
  display: block;
  margin-top: 15px;
}

.footer__bottom {
  background-color: #124F48;
  color: white;
}
.footer__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 0;
}
.footer__bottom .container p {
  font-weight: 300;
}
.footer__bottom .container .footer__bottom__links a {
  margin-right: 25px;
}

@media (max-width: 1440px) {
  .first__screen {
    width: auto;
    margin: 0 25px;
  }
}
@media (max-width: 1325px) {
  .container {
    width: auto;
    margin-right: 25px;
    margin-left: 25px;
  }
  .first__screen .container .first__screen__right {
    left: 35%;
  }
}
@media (max-width: 1250px) {
  .first__screen .container {
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .first__screen .container .first__screen__right {
    top: -60px;
    -webkit-transform: scale(85%);
            transform: scale(85%);
  }
}
@media (max-width: 1160px) {
  .first__screen .container {
    margin-bottom: 100px;
  }
  .first__screen .container .first__screen__right {
    top: -25px;
    -webkit-transform: scale(75%);
            transform: scale(75%);
  }
  .companies .container .companies__row div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .companies .container .companies__row div img {
    margin-right: 0;
  }
  .companies .container .companies__row div img:first-child {
    margin-bottom: 25px;
  }
  .achievements .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .achievements .container .achievements__right__numbers {
    display: none;
  }
  .achievements .container .achievements__right__numbers__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .achievements .container .achievements__left {
    margin-bottom: 25px;
  }
}
@media (max-width: 1110px) {
  .first__screen .container .first__screen__right {
    top: -7px;
    left: 30%;
    -webkit-transform: scale(70%);
            transform: scale(70%);
  }
  .blog .container .blog__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog .container .blog__content .letter:last-child {
    display: none;
  }
  .blog .container .arrows {
    top: 200px;
  }
}
@media (max-width: 1050px) {
  .services .container .services__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services .container .services__content .service {
    width: 260px;
  }
}
@media (max-width: 1020px) {
  .first__screen .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 45px;
  }
  .first__screen .container .first__screen__right {
    position: relative;
    left: 0;
    top: 27px;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  .first__screen .container .first__screen__right .girl {
    width: 100%;
  }
  .first__screen .container .first__screen__right .first__screen__icons {
    -webkit-transform: scale(85%);
            transform: scale(85%);
  }
  .subscribe .container h1 {
    width: auto;
  }
}
@media (max-width: 930px) {
  .services .container .services__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .services .container .services__content .service {
    margin-top: 25px;
  }
}
@media (max-width: 820px) {
  .first__screen .container .first__screen__right .first__screen__icons {
    -webkit-transform: scale(75%);
            transform: scale(75%);
    left: 15%;
  }
  .companies .container .companies__row div img {
    width: 90%;
  }
  .blog .container span {
    width: auto;
  }
}
@media (max-width: 750px) {
  footer .container .links {
    display: none;
  }
  .footer__bottom .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__bottom .container .footer__bottom__links {
    padding-top: 10px;
    margin-bottom: 25px;
  }
}
@media (max-width: 705px) {
  .blog .container .arrows {
    top: 900px;
    left: 85%;
  }
}
@media (max-width: 690px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  p,
  a,
  div {
    font-size: 16px;
  }
  .title__block {
    width: auto;
  }
  header .container .header__links {
    display: none;
  }
  header .container div .burger {
    display: block;
  }
  .first__screen .container .first__screen__left {
    width: auto;
  }
  .first__screen .container .first__screen__left h1,
  .first__screen .container .first__screen__left p {
    width: auto;
  }
  .achievements .container h2 {
    margin-bottom: 50px;
  }
  .achievements .container .achievement {
    width: auto;
  }
  .achievements .container .achievement img {
    width: 90%;
  }
  .achievements .container .achievements__left .achievements__right__numbers__mobile .achievements__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .achievements .container .achievements__left .achievements__right__numbers__mobile .achievements__column:first-child p {
    font-size: 24px;
  }
  .achievements .container .achievements__left .achievements__right__numbers__mobile .achievements__column:nth-child(2) p {
    font-size: 16px;
  }
  .achievements .container .achievements__left .achievements__right__numbers__mobile .achievements__column:nth-child(3) p {
    font-size: 14px;
  }
  .blog .container .arrows {
    top: 800px;
    left: 85%;
  }
  .blog .container .blog__content .letter {
    width: auto;
  }
  .blog .container .blog__content .letter img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .first__screen .container .first__screen__right .first__screen__icons {
    -webkit-transform: scale(65%);
            transform: scale(65%);
    left: 5%;
  }
}
@media (max-width: 540px) {
  h1 {
    font-size: 40px;
  }
  .first__screen .container .first__screen__left .first__screen__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
  }
  .first__screen .container .first__screen__left .first__screen__btns .btn {
    margin-right: 0;
  }
  .first__screen .container .first__screen__left .first__screen__btns .video {
    margin-right: 25px;
    margin-top: 25px;
  }
  .first__screen .container .first__screen__right .first__screen__icons {
    -webkit-transform: scale(55%);
            transform: scale(55%);
    left: -5%;
  }
}
@media (max-width: 480px) {
  .first__screen .container .first__screen__right {
    left: -15%;
    top: 27px;
  }
  .first__screen .container .first__screen__right .girl {
    width: 125%;
  }
  .first__screen .container .first__screen__right .first__screen__icons {
    -webkit-transform: scale(55%);
            transform: scale(55%);
    left: -5%;
  }
}